@page "/benzindata"
@rendermode InteractiveServer


<PageTitle>Benzin Data</PageTitle>

<h1>Benzin Data</h1>


<button @onclick="FetchData">Klik for at hente data</button>

@if (benzinPriser != null && benzinPriser.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Pris pr. liter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pris in benzinPriser)
            {
                <tr>
                    <td>@pris.Date</td>
                    <td>@pris.Price</td>
                </tr>
            }
        </tbody>
    </table>
}




@code {

    private List<BenzinPrisData> benzinPriser;

    private async Task FetchData()
    {
        using var client = new HttpClient();
        var response = await client.GetAsync("https://magsapi.onrender.com/api/miles95");
        if (response.IsSuccessStatusCode)
        {
            var jsonString = await response.Content.ReadAsStringAsync();
            benzinPriser = System.Text.Json.JsonSerializer.Deserialize<List<BenzinPrisData>>(jsonString);
        }
    }

    public class BenzinPrisData
    {
  
        public string Price { get; set; }
        public string Date { get; set; }
    }
    
}
